/LAGO-UVG/nbproject/private/
/Pruebas/pruebaRaspberry_nogps_2016_08_10_23h00.dat
/LAGO-AI/src/cosmicfilter/CosmicCorpus.txt
/LAGO-AI/src/cosmicfilter/CosmicTest.txt
/LAGO-AI/src/cosmicfilter/CosmicTrain.txt
/LAGO-AI/src/cosmicfilter/CosmicCV.txt